.Dropdown {
  width: 100%;
}

.Dropdown-form {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  padding-left: 15px;
  cursor: pointer;
  width: 100%;
}

.Dropdown-form:hover {
  border: 2px solid #000000;
}

.Dropdown-selected {
  text-align: left;
  font-size: 12px;
  text-wrap: nowrap;
}

.Dropdown-menu {
  position: absolute;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  border: 2px solid #f0f0f0;
  width: 10%;
}

.Dropdown-menu > li {
  background-color: #ffffff;
  font: 16px Arial;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.Dropdown-menu > li:hover {
  background-color: lightgray;
}
