.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #243d6b;
}

.Modal-button {
  position: absolute;
  z-index: 1;
  background-color: #243d6b;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.Modal-button:hover {
  background-color: #295cb8;
}

.Modal-background {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3b3b3;
  min-height: inherit;
  min-width: 100%;
}

.Modal {
  background-color: #ffffff;
  padding-inline: 50px;
  padding-block: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.Modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
}

.button-grid-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.Modal-close {
  background-color: #243d6b;
  color: #ffffff;
  padding: 10px;
  margin-left: -30px;
  padding-inline: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.Modal-close:hover {
  background-color: #295cb8;
}

.Modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #293e5c;
  padding-bottom: 10px;
  border-bottom: 3px solid #f0f0f0;
}

.Modal-body {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 20px;
}

.Modal-body-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Dropdown-import {
  width: 88%;
}

.Line-left {
  border: 2px solid #f0f0f0;
  width: 50%;
  margin-left: 0;
}

.Line-right {
  border: 2px solid #f0f0f0;
  width: 80%;
  margin-left: 0;
}

.Modal-subheading {
  font-size: 12px;
  font-weight: bold;
  color: #293e5c;
  margin-top: 0;
}

.Upload {
  border: 2px solid #f0f0f0;
  width: 87%;
}

.Upload-container {
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.Upload-container:hover {
  border: 2px solid #000000;
}

.Upload-icon {
  border: 2px dashed #f0f0f0;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.Upload-icon-text {
  font-size: 12px;
  color: #293e5c;
  text-align: center;
}

.Upload-button {
  background-color: #243d6b;
  color: #ffffff;
  padding-block: 10px;
  margin-inline: 120px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.Upload-button:hover {
  background-color: #295cb8;
}

.Success-text {
  font-size: 12px;
  font-weight: bold;
  color: #5bb394;
  text-align: center;
  margin-top: 0;
}

.Upload-input {
  display: none;
}

.Tolerance-window {
  display: flex;
}

.Vertical-line {
  border-left: 1px solid #295cb8;
  height: 100%;
  margin-inline: 10px;
}

.Tolerance-text {
  margin: 0;
  margin-left: 3px;
  font-size: 12px;
}

.Modal-body-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 50px;
}

.Modal-footer {
  font-weight: bold;
}

.hidden {
  display: none;
}

.warning {
  color: red;
}

.Progress-bar {
  color: rgba(91, 179, 148, 1);
  height: 20px;
  animation: progress-bar 2s ease-in-out;
}

@keyframes progress-bar {
  from {
    width: 0%;
    background-color: #5bb394;
    color: rgba(91, 179, 148, 0);
  }
  to {
    width: 100%;
    background-color: #5bb394;
    color: rgba(91, 179, 148, 0);
  }
}

.Continue-button {
  background-color: #243d6b;
  color: #ffffff;
  padding-block: 10px;
  padding-inline: 60px;
  margin-right: 5px;
  border: 2px solid #243d6b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.Continue-button:hover {
  background-color: #295cb8;
  border: 2px solid #295cb8;
}

.Cancel-button {
  border: 2px solid #f79c24;
  background-color: #ffffff;
  color: #f79c24;
  padding-block: 10px;
  padding-inline: 60px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.Cancel-button:hover {
  background-color: #f79c24;
  color: #ffffff;
}
